%hr
#about
  %h2 Tko smo
  %p Primarno, mi smo skupina web developera entuzijasta. Sekundarno, draga nam je piva. Nevezano za prethodno, bavimo se razvojem weba u, ako je moguće, modernim tehnologijama sa krvavog ruba. Ovim okupljanjima želimo okupiti ekipu web profesionalaca i potaknuti razmjenu iskustava, tehnologija i pive. 
