%hr
#about
  %h2 Tko smo?
  %p Primarno, mi smo skupina web developera entuzijasta. Sekundarno i nevezano za primarno, draga nam je piva.
  %h2 Što je Code at six?
  %p Code at Six je okupljanje developera (hr. razvojnika) koje se sastoji od  druženja i predavanja.
  %p Teme su vezane uz razvoj web i mobilnih aplikacija u modernim tehnologijama sa krvavog ruba. Ako se palite na hajp termove poput: Ruby, Rails, Node, Backbone, Mongo, iOS, Android, Sencha Touch, Cofeescript ... bit će vam zanimljivo i na Code at Six meetupu.
  %p Ovim okupljanjem želimo širiti development community u Hrvatskoj, povezivati development profesionalce i entuzijaste te potaknuti razmjenu znanja, iskustava i prije spomenute pive.
  %p Također, preduvjet za sudjelovanje je da mrzite SVN svom svojom dušom, i da prihvaćate kao činjenicu da je Git mnogo bolji izbor.
