%hr
#location
  .text
    %h2 Gdje se nalazimo
    %p Sastanci se održavaju u Odranskoj 1 u prostorijama tvrtke Infinum. 
  .pic
    =link_to image_tag('gmaps.png'), 'http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=zagreb+odranska+1&aq=&sll=37.0625,-95.677068&sspn=52.372705,66.445312&vpsrc=6&ie=UTF8&hq=&hnear=Odranska+1,+10000,+Zagreb,+Croatia&ll=45.791587,15.964637&spn=0.011371,0.024397&t=m&z=16&iwloc=A'
