<h1>Listing submits</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @submits.each do |submit| %>
  <tr>
    <td><%= submit.name %></td>
    <td><%= submit.surname %></td>
    <td><%= submit.email %></td>
    <td><%= link_to 'Destroy', submit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<br />

