#meetup
  %h2 Što je meetup?
  :markdown
    Meetup je okupljanje developera (hr. razvojnika) koje se sastoji od druženja, predavanja ... and much much more?

    Teme su vezane uz razvoj web i mobilnih aplikacija u modernim tehnologijama sa krvavog ruba. Ako se palite na hajp termove poput: Rails, Django, Node, Backbone, Mongo, iOS, Android, Sencha Touch, Cofeescript ... bit će vam zanimljivo i na Code at Six druženjima.

    Ovim okupljanjem želimo širiti development community u Hrvatskoj, povezivati development profesionalce i entuzijaste te potaknuti razmjenu znanja, iskustava i prije spomenute pive.

    Također, preduvjet za sudjelovanje je da **mrzite** SVN.

#submissions
  %hr
  =render :partial => 'pages/submission', :locals => { :event => @meetup }
  .clearboth

- if @meetup
  #talks
    %hr
    %h2
      O čemu ćemo pričati?
    = markdown @meetup.announcement

- if @meetup
  #participants
    %hr
    =render :partial => 'pages/participants', :locals => { :event => @meetup }
