/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
*/

$yellow-button: #cdc50c;
$yellow-font: #fff200;
$font-gray: #ebebeb;
$form-font-gray: #848484;
$background-gray: #eeeeee;
$background-black: #1F1F1E;
$inner-width: 840px;
$error-pink: #9A2C73;

@mixin yellow-button($height, $padding-top) {
  background-color: $yellow-button;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  height: $height;
  padding-top: $padding-top;
  color: #222120;
  text-shadow: white 0px 1px 0.5px;
  -moz-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 0px rgba(255,255,255,1);
  -webkit-box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 0px rgba(255,255,255,1);
}


.clearboth {
  clear: both;
}

body {
  background-color: #1F1F1E;

  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  input,b,i,strong {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  }

  font-size: 14px;
  line-height: 24px;
  text-align: left;
 
  .button,
  .link {
    cursor: pointer;
  }
  
  color: $font-gray;

  a {
    color: $font-gray;
  }

  #admin {
  }

  #homepage {

    .banner {
      margin-left: 101px;
    }

    .yellow {
      color: $yellow-font;
    }

    width: 1000px;
    margin: auto;
    padding-bottom: 50px;
  
    hr {
      background-color: #4a4a49;
    }

    h2 {
      font-size: 1.8em;
      color: #ffff00;
      font-style: bold;
      text-shadow: black 2px 1px 3px;
    }

    .error {
      color: $error-pink;
    }

    label.error {
      float: none;
      color: $error-pink;
      padding-left: .5em;
      vertical-align: top;
      display: block;
      margin-top: 5px;
    }
    

    .navigation {
      width: $inner-width;
      height: 35px;
      margin: auto;

      .buttons {
        .small-button {
          @include yellow-button(25px, 0px);
          float: left;
          margin-right: 5px;
        }

        .submissions {
          @extend .small-button;
          width: 75px;
        }

        .about {
          @extend .small-button;
          width: 100px;
        }

        .location {
          @extend .small-button;
          width: 180px;
        }
      }

      #next-meetup {
        font-size: 0.9em;
        float: left;
        width: 470px;
        height: 25px;
        background-color: #30302f;
        border-radius: 5px;
        text-align:center;
        padding-top: 1px;

      }
    }

    #follow-button {
      @include yellow-button(40px, 18px);
      font-size: 20px;
      width: 850px;
      border-radius: 5px;
    }

    .content {
      width: 840px;
      height: auto;
      margin: auto;

      .column-container {
        width: 100%;
        overflow: auto;
        position: relative;
        padding-bottom: 5px;

        #submissions {
          float: left;
          width: 50%;

          .text_field {
            padding-left: 5px;
            margin: 10px 0;
            input {
              color: $form-font-gray;
              border: 0px;
              background-color: #1a1a19;
              height: 30px;
              padding: 2px 10px;
            }
          }

          #apply {
            @include yellow-button(25px, 0px);
            width: 100px;
            margin-top: 25px;
          }
        }

        #talks {
          float: left;
          width: 420 - 60px - 1px;
          height: 230px;
          padding: 0 30px 0 30px;
          border-left: 1px dotted $yellow-font;
          
        }
      }

      #location {
        height: 280px;
        .text {
          float: left;
          width: 370px;
          padding-right: 50px;
        }
        .pic {
          float: left;
          margin-top: 35px;
        }
      }
    }
  }
}

