.buttons
  .meetup.link{:url => '/meetup'} Meetup
  .hackathon.link{:url => '/hackathon'} Hackathon
  .location.link{:url => '/location'} Gdje smo? 

- if @event.present?
  #next-event.link{:url => "/#{@event.whatisit}/#announcement"}
    :erb
      Sljedeći event (<%= @event.whatisit %>) / <span class="yellow"><%= @event.date %></span> u <span class="yellow"><%= @event.time %>h</span>
- else
  #next-event.link{:url => ""}
    :plain
      Trenutno nema događaja u sustavu.
.clearboth
%hr
